<a href="https://colab.research.google.com/github/Richard-Shimada/food-sales-predictions/blob/main/Project_1_Part_2_(Core)_RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Coding Dojo 2022/01 Week 1: Python/sales_predictions.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
#1 - 8,523 rows and 12 columns
df.shape

(8523, 12)

In [ ]:
#2 - data type of each variable
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
#3 - there are no duplicates in the dataset
df.duplicated().sum()

0

In [ ]:
#4 - Identifying missing values. 1,463 within the Item_Weight column and 2,410 within the Outlet_Size column
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
#5 - addressing missing values

# code to investigate Item_Weight properties
# df.sort_values(by=['Item_Weight'],ascending=False).head(30)
# df['Item_Weight'].min()
# df['Item_Weight'].max()


item_weight_average = df['Item_Weight'].mean()

#Item Weight ranges from 4.55 to 21.35, mean is 12.86 which is a reasonable assumption for blank values
df['Item_Weight'].fillna(item_weight_average,inplace=True)


#Outlet identifier not helpful in imputing values, most Outlets are Supermarket Type1 so also not a good indicator
#df.groupby(['Outlet_Size','Outlet_Location_Type','Outlet_Type','Outlet_Identifier'],dropna=False)['Item_Identifier'].count()

#For rows where Outlet_Size is not null,Outlet_Location_Type of Tier 2 only appears in Outlet_Size of Small, same for Outlet_Type = Grocery Store.
df.groupby(['Outlet_Size','Outlet_Location_Type','Outlet_Type'],dropna=False)['Item_Identifier'].count()

#For all rows where Outlet_Size is null, values of either Tier 2 or Grocery are in each row! So we will impute the NaN to Small
df['Outlet_Size'].fillna('Small',inplace = True)

In [ ]:
#6 - confirm no more missing
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
#7 - Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 

#Item types look good
#df['Item_Type'].value_counts()

# need to make Low Fat/Regular consistent
df['Item_Fat_Content'].value_counts()
# df['Item_Fat_Content'] = df['Item_Fat_Content'].str.lower()
# df['Item_Fat_Content'].value_counts()
df['Item_Fat_Content'] = df['Item_Fat_Content'].str.replace("LF","Low Fat")
df['Item_Fat_Content'] = df['Item_Fat_Content'].str.replace("reg","Regular")
df['Item_Fat_Content'] = df['Item_Fat_Content'].str.replace("low fat","Low Fat")
df['Item_Fat_Content'].value_counts()
#len(df)
# for x in len(df):
#   if(df.loc(x,'Item_Fat_Content') == 'reg'):
#     print("REGULAR")
# #   if(df['Item_Fat_Content'] == 'LF'):
# #     print("Low Fat")

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
 #8 - Numerical columns - obtaining the summary statistics of each (min, max, mean)
 df[['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year','Item_Outlet_Sales']].describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.226124,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.826500,1987.000000,834.247400
50%,12.857645,0.053931,143.012800,1999.000000,1794.331000
75%,16.000000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800